<div class="container def-bg-settings">
    <div class="container mt-5">
        <h1>Корзина</h1>
        <hr>
        <% if (products.length === 0) { %>
            <p>Ваша корзина!</p>
        <% } else { %>
            <table class="table">
                <thead>
                    <tr>
                        <th>Товар</th>
                        <th>Цена</th>
                        <th>Количество</th>
                        <th>Итого</th>
                        <th>Удалить</th>
                    </tr>
                </thead>
                <tbody>
                    <% let totalPrice = 0; %>
                    <% products.forEach(product => { %>
                        <% const itemTotal = product.productPrice * product.sc_count; %>
                        <tr>
                            <td>
                                <div class="d-flex align-items-center">
                                    <img src="/images/products/<%= product.productThumbnail %>" alt="<%= product.productTitle %>" style="width: 50px; height: auto; margin-right: 10px;" />
                                    <span><%= product.productTitle %></span>
                                </div>
                            </td>
                            <td><%= typeof product.productPrice === 'number' ? product.productPrice.toFixed(2) : '0.00' %>₽</td>
                            <td>
                                <form action="/cart/update" method="post" style="display:inline;">
                                    <input type="hidden" name="productID" value="<%= product.productID %>">
                                    <button type="submit" name="action" value="decrease" class="btn btn-secondary btn-sm">-</button>
                                    <span style="margin-left: 10px; margin-right: 10px;"><%= product.sc_count %></span>
                                    <button type="submit" name="action" value="increase" class="btn btn-secondary btn-sm">+</button>
                                </form>
                            </td>
                            <td><%= itemTotal.toFixed(2) %>₽</td>
                            <td>
                                <form action="/cart/remove" method="post" style="display:inline;">
                                    <input type="hidden" name="productID" value="<%= product.productID %>">
                                    <button type="submit" class="btn btn-danger btn-sm">
                                        <i class="fas fa-times"></i>
                                    </button>
                                </form>
                            </td>
                        </tr>
                        <% totalPrice += itemTotal; %>
                    <% }) %>
                </tbody>
            </table>
            <h3><%= totalPrice.toFixed(2) %> ₽</h3>
        <% } %>
        <a href="/" class="btn btn-primary mt-3">Продолжить покупки</a>
    </div>
</div>