
<div class="container mt-4" style="margin-bottom: 2vw;">
    <div class="row">
      <div class="col-md-3 col-1">
        <div class="container bordered_1 mt-4 bg-light p-4">
          <form action="/update_cat" method="post">
            <h5>Категории</h5>
              <ul class="list-group mb-4">
                <li class="list-group-item">
                    <input type="checkbox" value="1" name="categories"
                    <% if(selected_categories.includes('1')) { %> checked <% } %>
                    > 
                    <label for="category1">Pupa's</label>
                </li>
                <li class="list-group-item">
                    <input type="checkbox" value="2" name="categories"
                    <% if (selected_categories.includes('2')) { %> checked <% } %>
                    >
                    <label for="category2">Lupa's</label>
                </li>
                <li class="list-group-item">
                    <input type="checkbox" value="3" name="categories"
                    <% if(selected_categories.includes('3')) { %> checked <% } %>
                    >
                    <label for="category3">Другое</label>
                </li>
              </ul>
                <h5>Цена</h5>
                <div class="mb-4">
                    <label for="priceRange">Выберите диапазон цен:</label>
                    <input type="range" class="form-range" name="price_value" id="priceRange" value="<%- input_price_value %>" min="0" max="10000" step="100" onchange="updatePriceValue()">
                    <span id="priceValue">₽ 0 - <%- input_price_value %></span>
                </div>
              <button class="btn btn-primary" type="submit">Применить фильтры</button>
          </form>           
        </div>
      </div>
        
      <div class="col-1 col-md-9">
        <div class="row row-cols-3">
  <% i=0 %>
    <% sqlres.forEach(product => { %>
      <div class="col mb-3">
          <div class="card cards w-60 mt-4 shadow-sm bordered_1" style="height: 550px;">
          <div class="carousel slide" id="card-<%- sqlres[i].productID %>" ddata-bs-interval="false" data-pause="hover">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="<%- sqlres[i].productThumbnail %>" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="<%- sqlres[i].productThumbnail %>" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="<%- sqlres[i].productThumbnail %>" class="d-block w-100" alt="...">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#card-<%- sqlres[i].productID %>" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#card-<%- sqlres[i].productID %>" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
            <div class="card-body" style="padding-bottom: 0 !important;">
              <div class="d-flex justify-content-between align-items-center">
                <h5 class="mb-0"><%- sqlres[i].productName %></h5>
                <small class="text-muted"><%- sqlres[i].category_names %></small>
             </div>
                <div class="d-flex justify-content-between align-items-center">
                    <div class="rating">
                        <span class="text-warning"><%- sqlres[i].productRate %></span>
                        <span class="text-muted">(28 отзывов)</span>
                    </div>
                </div>
                <div class="text-truncate-container">
                  <p>
                    <%- sqlres[i].productDescription %>        
                  </p>
                </div>                      
            </div> 
            <div class="card-footer">
              <form action="/product" method="POST">
                <input type="hidden" name="productId" value="<%- sqlres[i].productID %>">
                <button type="button" class="btn btn-primary nav-btn-with-img nav-btn addToCart" data-product-id="<%- sqlres[i].productID %>" data-name="<%- sqlres[i].productName %>" data-price="<%- sqlres[i].lastPrice %>" data-cat="<%- sqlres[i].category_names %>">
                  <img src="/images/shoping_cart.png" alt="Button Images" class="img-responsive nav-btn-img">
                  <img id="cartIcon<%- sqlres[i].productID %>" src="/images/shoping_cart.png" style="display: none;z-index: 10000; ; width: 32px; height: 32px; margin-top: -32px;" />
                </button>
                <button type="submit" class="btn btn-primary nav-btn-with-img nav-btn">
                  <img src="/images/right_arrow.png" alt="Button Images" class="img-responsive nav-btn-img">
                </button>
                <p class="price" style="float: right;">₽ <%- sqlres[i].lastPrice %></p>
              </form>
            </div>           
          </div>
        </div>
        <% i++ %>
      <% }) %>
        </div>
      </div>
    </div> 
    <script>
      function updatePriceValue() {
          const priceRange = document.getElementById('priceRange');
          const priceValue = document.getElementById('priceValue');
          priceValue.textContent = `₽ 0 - ${priceRange.value}`;
      }
  </script> 
</div>
  
