<div class="container def-bg-settings"> 
    <div class="row" style="margin-bottom: 20px; min-height: 750px;">
        <% products.forEach((product) => { %>
        <div class="col-3">
            <div class="card cards w-60 mt-4 shadow-sm bordered_1 CardBody" style="height: 550px;">
                <img src="/images/products/<%= product.productThumbnail %>" class="card-img-top bordered_top" alt="<%= product.productTitle %>">
                
                <div class="card-body" style="padding-bottom: 0 !important;">
                    <div class="d-flex justify-content-between align-items-center">
                        <h5 class="mb-0"><%= product.productTitle %></h5>
                    </div>
                    
                    <div class="text-truncate-container mt-2">
                        <p class="text-muted"><%= product.productDescription %></p>
                    </div>

                    <div class="d-flex justify-content-between mt-4">
                        <span class="badge bg-secondary"><%= product.category %></span>
                        <span class="text-warning">
                            <% for (let j = 0; j < Math.floor(product.productRating); j++) { %>
                                <i class="fas fa-star"></i>
                            <% } %>
                            <% for (let j = Math.floor(product.productRating); j < 5; j++) { %>
                                <i class="far fa-star"></i>
                            <% } %>
                        </span>
                    </div>

                    <div class="d-flex justify-content-between align-items-center mt-2">
                        <h6 class="mb-0 font-weight-bold">Price: $<%= product.productPrice %></h6>
                    </div>
                </div>

                <div class="p-4" style="padding-top: 2px !important;">
                    <form action="/product/<%= product.productID %>" method="get">
                        <button class="btn ButtonSmBG float-end" type="submit">
                            <p class="p p-0" style="font-size: 18px; margin: 0 15px 0 15px;">
                                More
                            </p>
                        </button>
                    </form>
                </div>           
            </div>
        </div>
        <% }) %>
    </div>
</div>